common --experimental_allow_incremental_repository_updates

# startup --output_user_root=/workspace/bazel-cache

build --jobs=25
build --symlink_prefix=dist/
build --nolegacy_external_runfiles
build --incompatible_strict_action_env
build --define=angular_ivy_enabled=True
build --action_env=PATH

run --incompatible_strict_action_env

test --verbose_failures
test --action_env=PATH --test_env=PATH

coverage --instrument_test_targets

