@mixin shared-components-page-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  app-shared-page-component {
    color: mat-color($foreground, text);
  }
}

@mixin shared-components-page-typography($config) {
  app-shared-page-component {
    @include mat-typography-level-to-styles($config, body-1);
  }
}
