<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Test</span>
</mat-toolbar>
<mat-nav-list>
  <mat-list-item>
    <mat-icon mat-list-icon>home</mat-icon>
    <div mat-line>Home</div>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>dashboard</mat-icon>
    <div mat-line>Dashboard</div>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>account_box</mat-icon>
    <div mat-line>Profile</div>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>whatshot</mat-icon>
    <div mat-line>Tending</div>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>person_search</mat-icon>
    <div mat-line>Browse</div>
  </mat-list-item>
</mat-nav-list>
