<mat-toolbar>
  <span class="title">{{ title$ | async }}</span>

  <span class="fill"></span>

  <mat-slide-toggle
    class="example-margin"
    [checked]="darkMode$ | async"
    (change)="onDarkModeToggle()"
  >
  </mat-slide-toggle>

  <mat-divider [vertical]="true"></mat-divider>

  <button
    mat-button
    class="user"
    [matMenuTriggerFor]="menu"
    *ngIf="user$ | async as user"
  >
    <app-shared-avatar-component
      [src]="user.avatar"
    ></app-shared-avatar-component>
    {{ user.username }}
    <mat-icon>expand_more</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</mat-toolbar>
